 body{

margin:0px;
padding:0px;
height:1800px;
 }



.body{
  display:flex;
  flex-direction:column;
  width:100vw;
  height:100%;
  margin:0px;
  padding:0px;
  max-width:100%;
  flex-grow:;
  justify-content:space-between;
  flex-basis:1;
}

.top{
  justify-content:center;
  background-color: #1F2937;
  height:;
  display:flex;
  flex-direction:column;
  color:white; 
  flex-grow:7;	
}


.shrink{width:400px;}
.header{
  display:flex;
  background-color:#1F2937;
  font-size:24px;
  color:#F9FAF8;
  justify-content:space-between;
  flex-shrink:1;
  padding:18px;
}


.hleft{
  margin-left:160px;
  font-weight:900;
}

.hright{
  font-size:18px;
  color:#E5E7EB;
  margin-right:70px;
  display:flex;
  gap:35px;
}


button{
  border-radius:8px;
  background-color:#3882F6;
  color:white;
  padding:5px 19px;
}

.top button{
margin-top:10px;
}

.neck{
  display:flex;
  flex-grow:;
  justify-content:space-around;
  align-items:center;
}

.lefty{
  display:flex;
  flex-direction:column;
  font-size:18px;
  color:#E5E7EB;
  width:300px;
}

.leftytext{
  font-size:48px;
  font-weight:900;
}

.middle{
  background-color:#F9FAF8;
  flex-grow:9;
}

.bottom_middle{
  background-color:#F9FAF8;
 flex-grow:8.1;
 display:flex;
justify-content:center;
align-items:center;

}


.toe{
	background-color:#1F2937;
	height:;
	color:white;
	text-align:center;
	flex-grow:2;
	align-items:center;
	justify-content:center;
	display:flex;
		
		}

.bottom{
	background-color:grey;
	flex-grow:10.3;
		}
.cta{
	background-color:#3882F6;
	flex-grow:1;
	border-radius:5px;
	padding:15px;
		}
.footer{
	background-color:#F9FAF8;
	display:flex;
	align-items:center;
	justify-content:center;
		}
.toenail{
	
	
		}
